body {
  color: #404040;
  /* background-color: #51CFFF; */
  background-color: #ECEAE0;
  text-align: center !important;
  overflow-x: hidden;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/* ALERTS STATES */
.inservice{
  border: 5px solid #118C4E !important;
}
.outofservice{
	border: 5px solid #E44424 !important;
}
.initializating{
	border: 5px solid #67BCDB !important;
}
.notinstalled{
	border: 5px solid #f0ad4e !important;
}
.suspended{
	border: 5px solid #4A96AD !important;
}
/* DIVS AND IMGS */
.eventInitial{
  margin-top: -15rem !important;
  margin-bottom: 8rem !important;
}
.eventOut{
  margin-bottom: 28 rem !important;
}
.div-tas{
  background-color: #24292e;
  color: wheat;
}
.img-tas{
  border-radius: 999em;
  border: 3px solid #000;
  height: 100px;
}
.img-event{
  text-align: center;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 999em;
  height: 100px;
}
.img-alert{
  background-color: #286090;
  border-radius: 999em;
  height: 50px !important;
}
/* EFECTS FOR EVENTS */
.rotation {
  animation: rotation 2s linear;
}
@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.rotationOut {
  animation: rotationOut 1s linear;
}
@keyframes rotationOut {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
.translationInitial {
  width: 100px;
  height: 100px;
  animation: translationInitial 2s forwards ease;
}
@keyframes translationInitial {
  100% {
    -webkit-transform: translateY(14rem);
    -moz-transform: translateY(14rem);
    -ms-transform: translateY(14rem);
    -o-transform: translateY(14rem);
    transform: translateY(14rem);
  }
}
.translationRest {
  width: 100px;
  height: 100px;
  animation: translationRest 2s forwards ease;
}
@keyframes translationRest {
  100% {
    -webkit-transform: translateY(7rem);
    -moz-transform: translateY(7rem);
    -ms-transform: translateY(7rem);
    -o-transform: translateY(7rem);
    transform: translateY(7rem);
  }
}
.translationOut {
  width: 100px;
  height: 100px;
  animation: translationOut 1s forwards ease;
}
@keyframes translationOut {
  0% {
    -webkit-transform: translateY(8rem);
    -moz-transform: translateY(8rem);
    -ms-transform: translateY(8rem);
    -o-transform: translateY(8rem);
    transform: translateY(8rem);
  }
}
