body {
  color: white;
  background-color: #007EAE;
  text-align: center !important;
  /* overflow-x: hidden; */
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.profileImgOk{
	border: 3px solid green !important;
}
.profileImgAlert{
	border: 3px solid orange !important;
}
.profileImgNotOk{
	border: 3px solid red !important;
}
.img-event{
  border-radius: 999em;
	border: 3px solid #000;
  box-shadow: 8px 8px 10px #aaa;
  height: 100px;
}
.img-alert{
  border-radius: 999em;
	border: 3px solid #000;
  box-shadow: 8px 8px 10px #aaa;
  height: 100px;
  /*border: 3px solid #FF0000;*/
  /* height: 50px !important;*/
  animation-duration: 2.5s !important;
  /*animation: logo-spin infinite 20s linear;*/
}
.img-alert:hover {
  /*border: 3px solid red;*/
  -webkit-animation: 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  margin-top: 20px !important;
  margin-bottom: 120px !important;
}
.test{
  padding: 20px !important;
  border-radius: 3em;
  border-width: 1px 0 !important;
  text-align: center;
  font-size: 13px !important;
  line-height: 16px !important;
  border: solid rgba(255,255,255,0.5) !important;
  background-color: #12085A;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
}
@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    30%
    {
        -webkit-transform: translateX(-15px);
       transform: translateX(-15px);
    }
    50%
    {
        -webkit-transform: translateX(13px);
        transform: translateX(13px);
    }
    65%
    {
        -webkit-transform: translateX(-13px);
        transform: translateX(-13px);
    }
    80%
    {
        -webkit-transform: translateX(21px);
        transform: translateX(12px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
