div.logAreaCSS {
	width: 100%;
	height: 40%;
	overflow-y: scroll;
	border: thin;
}

div.logAreaCSSCamera {
	width: 95%;
	height: 300px;
	overflow-y: scroll;
	border: thin;
}

span.blueText {
	color: blue;
}

span.redText {
	color: red;
}

span.greenText {
	color: green;
}

span.yellowText {
	color: yellow;
}

span.grayText {
	color: lightgray;
}

.list-group-item.item-device {
	padding: 5px 10px 5px 10px;
}

button strong {
	font-size: 140%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.glyphicon.spinning {
	font-size: 500%;
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
	color: #009EDF;
}

.btn.monitorizer {
	border-radius: 0;
}

.pocbutton {
	width: 90%;
	height: 152px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 1;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	cursor: pointer;
	border: none;
}

.blaubutton {
	color: #fff;
	background-color: #009edd;
	border-color: #009edd;
}

.roigbutton {
	color: #fff;
	background-color: #dd5426;
	border-color: #dd5426;
}

@
keyframes spin {from { transform:scale(1)rotate(0deg);
	
}

to {
	transform: scale(1) rotate(360deg);
}

}
@
-webkit-keyframes spin2 {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
.btn-corecontrol {
	color: #fff !important;
	background-color: #193C59;
	border-color: #2e6da4;
	border: 0px solid transparent !important;
	outline: 0px auto -webkit-focus-ring-color !important;
}

.btn-corecontrol:focus, .btn-corecontrol.focus {
	color: #fff !important;
	background-color: #193C59;
	border-color: #2e6da4;
}

.btn-corecontrol:hover {
	color: #fff;
	background-color: #24567F;
	border-color: #24567F;
}

.btn-corecontrol:active, .btn-corecontrol.active, .open>.dropdown-toggle.btn-corecontrol {
	color: #fff;
	background-color: #3987BF;
	border-color: #24567F;
}

.btn-corecontrol:active:hover, .btn-corecontrol.active:hover, .open>.dropdown-toggle.btn-corecontrol:hover, .btn-corecontrol:active:focus, .btn-corecontrol.active:focus, .open>.dropdown-toggle.btn-corecontrol:focus,
	.btn-corecontrol:active.focus, .btn-corecontrol.active.focus, .open>.dropdown-toggle.btn-corecontrol.focus {
	color: #fff;
	background-color: #4199D8;
	border-color: #24567F;
}

.btn-corecontrol:active, .btn-corecontrol.active, .open>.dropdown-toggle.btn-corecontrol {
	background-image: none;
	color: #fff;
}

.btn-corecontrol.disabled:hover, .btn-corecontrol[disabled]:hover, fieldset[disabled] .btn-corecontrol:hover, .btn-corecontrol.disabled:focus, .btn-corecontrol[disabled]:focus, fieldset[disabled] .btn-corecontrol:focus,
	.btn-corecontrol.disabled.focus, .btn-corecontrol[disabled].focus, fieldset[disabled] .btn-corecontrol.focus {
	background-color: #193C59;
	border-color: #24567F;
	color: #fff;
}

.btn-corecontrol .badge {
	color: #fff;
	background-color: #fff;
}

.labelaligned {
	margin: 0px 20px 0px 0px;
	display: inline-block;
}

td.max400 {
	min-width: 350px;
	max-width: 450px;
	overflow: hidden;
}

.pane {
	width: 1em;
	height: 1em;
	display: inline-block;
	margin: 0 auto;
	border-radius: .05em;
	border: .01em solid #444;
	position: relative;
	background: #222;
	text-align: center;
	line-height: 1;
	font-size: 42px;
	color: #fff;
	font-family: monospace;
	box-shadow: 0px .02em 0 #ccc, 0px .05em 0 #000;
	text-shadow: -1px -2px 2px rgba(50, 50, 50, 200);
	z-index: 50;
}

.pane:after {
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	border-top: 1px solid #000;
	border-bottom: 2px solid rgba(255, 255, 255, .3);
	width: 100%;
	height: 0px;
	opacity: .8;
	z-index: 10;
	margin-top: -1px
}

@font-face {
	font-family: 'ecoico';
	src: url('../fonts/timelineicons/ecoico.eot');
	src: url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'), url('../fonts/timelineicons/ecoico.woff') format('woff'), url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */
.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #FFF;
	left: 0%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline>li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline>li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline>li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #FFF;
}

.cbp_tmtimeline>li .cbp_tmtime span:last-child {
	font-size: 1.2em;
	color: #FFF;
}

.cbp_tmtimeline>li .cbp_tmlabel {
	border: 3px solid #FFF;
	margin: 0 0 15px 20px;
	color: #333;
	padding: 1em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 80px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+86,ededed+100 */
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 86%, rgba(237, 237, 237, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 86%, rgba(237, 237, 237, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 86%, rgba(237, 237, 237, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1); /* IE6-9 */
	-webkit-box-shadow: 13px 0px 19px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 13px 0px 19px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 13px 0px 19px 0px rgba(0, 0, 0, 0.17);
}

.cbp_tmtimeline>li .cbp_tmlabel_level_5 {
	background: #d0e2f1;
}

.cbp_tmtimeline>li .cbp_tmlabel_level_4 {
	background: #bdd7eb;
}

.cbp_tmtimeline>li .cbp_tmlabel_level_3 {
	background: #aacce6;
}

.cbp_tmtimeline>li .cbp_tmlabel_level_2 {
	background: #97c0e0;
}

.cbp_tmtimeline>li .cbp_tmlabel_level_1 {
	background: #84b5db;
}

.cbp_tmtimeline>li .cbp_tmlabel_level_0 {
	background: #71a9d5;
}

.cbp_tmtimeline>li .cbp_tmlabel_result_0 {
	color: #fff;
}

.cbp_tmtimeline>li .cbp_tmlabel_result_1 {
	color: #a56464;
}

.cbp_tmtimeline>li .cbp_tmlabel_result_2 {
	color: #693333;
}

.cbp_tmtimeline>li .cbp_tmlabel_result_3 {
	color: #693333;
}

.cbp_tmtimeline>li .cbp_tmlabel_blue {
	background: #71a9d5;
}

.cbp_tmtimeline>li .cbp_tmlabel_white {
	background: #fff;
}

.cbp_tmtimeline>li .cbp_tmlabel h2 {
	margin-top: 0px;
	padding: 0 0 0px 0;
}

.cbp_tmtimeline>li .cbp_tmlabel h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0 0 0 10px;
}

@media screen and (max-width: 1350px) {
	.cbp_tmtimeline>li .cbp_tmlabel h3 {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 850px) {
	.cbp_tmtimeline>li .cbp_tmlabel h3 {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 750px) {
	.cbp_tmtimeline>li .cbp_tmlabel h3 {
		font-size: 24px;
	}
}

.cbp_tmtimeline>li .cbp_tmlabel span {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0 0 0 10px;
}

/* The icons */
.cbp_tmtimeline>li .cbp_tmicon {
	width: 20px;
	height: 20px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 10px;
	-webkit-font-smoothing: antialiased;
	position: relative;
	color: #fff;
	background: #71a9d5;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #FFF;
	text-align: center;
	left: 10px;
	top: 0;
	margin: 0 0 0 -25px;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
	.cbp_tmtimeline>li .cbp_tmtime span:last-child {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}
	.cbp_tmtimeline>li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}
	.cbp_tmtimeline>li .cbp_tmtime span {
		text-align: left;
	}
	.cbp_tmtimeline>li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}
	.cbp_tmtimeline>li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}
	.cbp_tmtimeline>li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}

@font-face {
	font-family: 'fontawesome';
	src: url('../fonts/fontawesome.eot');
	src: url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome.svg#fontawesome') format('svg'), url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #47a3da;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main, .container>header {
	width: 95%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 0 3.125em 1em;
}

.container>header {
	padding: 2.875em 1.875em 1.875em;
}

.container>header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
	color: #FFF;
}

.container>header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container>header nav {
	float: right;
}

.container>header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
	text-indent: -8000px;
}

.container>header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container>header nav a:hover:after {
	opacity: 1;
}

.container>header nav a:hover {
	background: #47a3da;
}

.icon-drop:before, .icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container>header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}